/*A grid system is being created to make the website slightly responsive */

body{
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
    background-image: url(Overige_Afbeeldingen/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
* {  
    box-sizing: border-box;    
}
h1{
    color: floralwhite;
    padding-top: 75%;
    padding-left: 15%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Georgia", serif;
    
}

h2{
    color: floralwhite;
    padding-left: 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Georgia", serif;
    
}
p{
    color: floralwhite;
    font-family: "Garamond", sans-serif;
    
}
/*Grid system for making the site responsive*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;
background-color: transparent}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 { width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    height: 100%;
    
}
div.transbox {
    
    background-color: papayawhip;
    border: 1px solid white;
    opacity: 0.85;
    padding-left: 10px;
}

div.transbox p {
    color: black;
    opacity: 1;
    
}



/* Styling and creation of the menu.*/

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    overflow: hidden;
    background: linear-gradient(to bottom left, purple,darkorange);
    opacity: 0.7;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 13px 50px;
    text-decoration: none;
    background-color: inherit;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

li a:hover {
    background-color: whitesmoke;
}
.active {
    background-color: whitesmoke;
}
li {
    border-right: 3px solid;
    border-right-color: bisque
}

li:first-child {
    border-left: 3px solid;
    border-left-color: bisque
}

/*Styling of the excersize links*/
#assignment{
    border-right: none;
    border-left: none:
    opacity: 1;
    text-align: left;
    display:flex;
    border-radius: 10px;
}
#assignment li a:hover{
    background-color: blanchedalmond;
}
}
.menu{
    opacity: 0.6;
}